@import 'src/var';

.pairItem {
    display: grid;
    align-items: center;
    padding: 17px 12px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 45% 10% 45%;
  
    @include sm {
        padding: 21px 18px;
        grid-template-columns: 28% 9% 30% 19% 14%;
    }
  
    @include md {
        padding: 16px 20px 24px;
        grid-template-columns: 31% 8% 37% 15% 9%;
    }

    @include xl {
        padding: 16px 58px 24px;
    }

    &:not(:first-child) {
        border-top: 1px solid #E0E0E0;
    }
}

.pairFrom, .pairTo {
    display: flex;
    align-items: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #666666;

    @include md {
        font-size: 16px;
    }

    img {
        width: 22px;
        margin-right: 7px;

        @include md {
            width: 32px;
            margin-right: 15px;
        }
        
    }

    & span {
        font-weight: 700;
       margin-right: 5px;
       display: block;

       @include md {
            display: inline-block;
        }
    }
}

.status button, .fixedRate button {
    background: rgba(234, 189, 196, 0.15);
    border-radius: 10px;
    max-width: 75px;
    width: 100%;
    padding: 10px 0;
    font-family: 'Sora';
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #EABDC4;
    display: none;
    margin: auto;

    &.active {
        background: #EABDC4;
        color: #fff;
    }

    @include sm {
       
        display: block;
    }

    @include md {
        max-width: 89px;
        padding: 12px 0;
        font-size: 14px;
    }
}

.pairArrow img {
    width: auto;
}