@import 'src/var';

.pairItem {
    display: grid;
    align-items: center;
    padding: 17px 12px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 40% 23% 39%;
  
    @include sm {
        padding: 21px 18px;
        grid-template-columns: 28% 9% 30% 19% 14%;
    }
  
    @include md {
        padding: 16px 20px 24px;
        grid-template-columns: 31% 8% 37% 15% 9%;
    }

    @include xl {
        padding: 16px 58px 24px;
    }

    &:not(:first-child, :nth-child(2)) {
        border-top: 1px solid #E0E0E0;
    }
}

.pairFrom, .pairTo {
    display: flex;
    align-items: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #666666;

    @include md {
        font-size: 16px;
    }

    img {
        width: 22px;
        margin-right: 7px;

        @include md {
            width: 32px;
            margin-right: 15px;
        }
        
    }

    & span {
        font-weight: 700;
       margin-right: 5px;
       display: block;

       @include md {
            display: inline-block;
        }
    }
}

.status button, .fixedRate button {
    background: rgba(234, 189, 196, 0.15);
    border-radius: 10px;
    max-width: 75px;
    width: 100%;
    padding: 10px 0;
    font-family: 'Sora';
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #EABDC4;
    display: none;
    margin: auto;

    &.active {
        background: #EABDC4;
        color: #fff;
    }

    &:hover {
      background: #EABDC4;
      color: #fff;
    }

    @include sm {
        display: block;
    }

    @include md {
        max-width: 89px;
        padding: 12px 0;
        font-size: 14px;
    }
}

.pairArrow img {
  width: auto;
  margin: auto;
}

.select{
    :global{
      .prefix{
        &__control{
          margin: 0;
          padding: 0;
          border: 1px solid #E0E0E0;
          border-radius: 10px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.5);
          width: 100%;
          font-family: 'Sora';
          font-weight: 400;
          font-size: 16px;
          color: #666666;

           div {
            text-align: start;
          }
        }

        &__option {

          div {
            justify-content: start;
            cursor: pointer;
          }
  
          &--is-focused {
            background-color: #6dd7c3;
          }
  
        }  
      }
    }
  }

  .option{
    display: flex;
    align-items: center;
  }
  
  .icon{
    height: 21px;
    width: 21px;
    object-fit: contain;
  }
  
  .pairWrap {
    align-items: center;
    padding: 16px 16px 0;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 44% 12% 44%;
  
    @include sm {
      padding: 21px 18px;
      grid-template-columns: 28% 9% 30% 19% 14%;
    }
  
    @include md {
      padding: 16px 20px 24px;
      grid-template-columns: 31% 8% 34% 15% 9%;
    }
  
    @include xl {
      padding: 16px 58px 24px;
      grid-template-columns: 31% 8% 37% 15% 9%;
    }
  
    div {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: $secondFontColor;
      text-align: center;
      white-space: nowrap;
  
      @include md {
        font-size: 14px;
      }
  
      @include lg {
          font-size: 16px;
      }
    }
  
    .currencyBlock {
      text-align: start;
    }
  }

  .filterIcon {
    width: 18px;
    display: none;
    @include sm {
      display: inline-block;
    }

    @include xl {
      margin-left: 18px;
    }
  }

  .statusBlock, .fixedRate {
    display: none;
    @include sm {
      display: block;
    }

  }