@import 'src/var';

.about {
  letter-spacing: 0.5px;
  color: $secondFontColor;
  padding: 30px 0 63px;
  @include lg{
    padding: 65px 0 105px;
  }
  @include xl{
    padding-bottom: 138px;
  }
  :global{
    .title{
      margin-bottom: 45px;
      @include md{
        margin-bottom: 68px;
      }
    }
  }
}