@import "src/var";

.application {
    padding-bottom: 190px;

    @include md {
       padding: 177px 0 193px;
     }
}

.wrap {
    background: linear-gradient(119.44deg, #EABDC4 6.44%, #6DD7C3 123.51%);
    border-radius: 30px;
    padding: 48px 24px;
    height: 440px;
    max-width: 500px;
    width: 100%;
    margin: auto;

    @include md {
        display: flex;
        position: relative;
        max-width: 755px;
        height: auto;
    }

    @include lg {
        max-width: 100%;
        padding: 89px 82px;
    }
}

.content {
    h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.5px;
        color: $dark;
        max-width: 200px;
        width: 100%;
        margin: auto;
        
        @include md {
            font-size: 33px;
            line-height: 41px;
            text-align: start;
            max-width: 432px;
        }

        @include lg {
            font-size: 40px;
        }
    }

    a {
        margin-top: 30px;
        background: #E0E0E0;
        opacity: 0.6;
        color: #666666;
        &:hover {
            background: #EABDC4;
            color: #fff;
        }

        @include md {
            margin: 38px 0 0;
        }
    }
}

.image {
    position: relative;
    bottom: -30px;
    max-width: 300px;
    margin: auto;

    @include md {
       position: absolute;
       right: 45px;
       bottom: -40px;
    }

    @include lg {
        bottom: -100px;
        max-width: 100%;
     }
}