@import "var";

.form{
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #FFFFFF;
  box-shadow: 0 11px 24px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 31px 15px;

  @include sm {
    padding: 30px 24px 48px;
  }
}

.switch{
  height: 33px;
  width: 33px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  border-radius: 6px;
  margin: auto 0 8px 0;

  &:hover{
    background-color: #53C4AF;
  }
}

.info {
  position: relative;
  padding: 14px 0 16px 15px;
  border-left: 2px solid #E0E0E0;

  div {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    margin-right: 10px;
    color: #4e4e4e;
    display: flex;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: -19px;
      top: 3px;
      width: 7px;
      border-radius: 50%;
      height: 7px;
      background: #F6F8FA;
    }

    @media (max-width: 352px) {
      max-width: 176px;
      flex-wrap: wrap;
    }

    @include sm {
      font-size: 11px;
    }

    @include xxl {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  @include md {
    padding: 16px 0 16px 15px;
  }
}

.time {
  width: 14px;
  height: 14px;
  margin: 0 6px 0;
  object-fit: contain;

  @include xxl {
    margin: 0 6px 0 25px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 13px;

  @include md {
    margin: 0 0 12px 22px;
  }
}

.btn {
  max-width: 100%;
  margin-top: 17px;
  background-color: $accentColor;

  &:hover{
    background: #53C4AF;
    color: #fff;
  }

  @include md {
    margin-top: 29px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapselect {
  :global{
    .prefix{
      &__control::before{
        content: "";
        left: 8px;
        display: block;
        position: absolute;
        background: url("./lock.svg");
        width: 12px;
        height: 16px;
      }

    }
  }
}