@import "src/var";

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
   opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 3;

  @include lg {
    opacity: 1;
    margin-left: 114px;
    position: static;
    overflow: inherit;
    max-height: max-content !important;
    background-color: transparent;
    pointer-events: auto;
    display: flex;
    width: 100%;
  }
}

.item {
  border-bottom: 1px solid #E0E0E0;
  padding: 13px 20px;

  @include lg {
    padding: 0;
    border: none;
  }

  &:not(:last-child) {
    margin-right: 25px;
  }
}

.list {
  width: 100%;
  a {
    width: 100%;
    transition: 0.3s;
    display: block;
    font-family: $secondFont;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $dark;

    &:hover {
      transform: translateX(5px);
    }

    @include lg {
      color: #fff;
    }
  }

  @include lg {
    display: flex;
  }
}

.nav.active {
  opacity: 1;
  pointer-events: all;
}