@import "src/var";

.price {
    padding: 0 0 72px ;
    
    @include md {
        padding: 54px 0;
    }

    a {
        background: #6DD7C3;
        margin-top: 37px;
        &:hover {
            background: #53C4AF;
        }

        @include md {
            margin-top: 59px;
        }
    }
}

h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: $dark;
    margin-bottom: 35px;
    
    @include md {
        font-size: 40px;
        margin-bottom: 58px;
    }
}

.tabsBlock {
   display: none;
   align-items: center;

   @include md {
    display: grid;
    padding: 16px 30px 24px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 8% 26% 16.75% 13% 23.5% 13%;
    grid-template-areas:
    "numberBlock currencyBlock  priceBlock changeBlock marketBlock";
  }

  @include xl {
    padding: 16px 58px 24px;
    grid-template-columns: 7% 27% 18% 17% 21% 11%;
  }
}

.tabsContent {
    padding: 12px 16px;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
            "currency value  btnExchange"
            "currency change btnExchange";

    @include md {
        padding: 19px 30px 24px;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 8% 26% 16.75% 13% 23.5% 13%;
        grid-template-areas:
        "numb currency value change market btnExchange";
       
    }

    @include xl {
        padding: 19px 58px 24px;
        grid-template-columns: 7% 27% 18% 17% 21% 11%;
    }

    &:not(:first-child) {
        border-top: 1px solid #E0E0E0;
    }

}

.value, .change {
    text-align: end;
    @include md {
       text-align: start;
    }
}

.numb {
    display: none;
    grid-area: numb;
    @include md {
        display: block;
    }
} 
.currency {
    grid-area: currency;
}
.value{
    grid-area: value;
}
.change {
    grid-area: change;
}
.market {
    display: none;
    grid-area: market;
    @include md {
        display: block;
    }
}
.btnExchange{
    grid-area: btnExchange;
}

.tabsBlock div, .tabsContent div {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: $dark;

    @include md {
        font-size: 16px;
    }
}

.tabsContent {
    div  {
        color: #666666;
        font-weight: 400;
    }  
}

.currency {
    display: flex;
    align-items: center;
    img {
        width: 32px;
        margin-right: 15px;
    }

    & span {
        font-weight: 700;
       margin-right: 5px;
       display: block;

       @include md {
            display: inline-block;
        }
    }
}

.btnExchange button {
    width: 31px;
    height: 31px;
    background: #6dd7c326 url("./img/exchange.svg") no-repeat center;
    border-radius: 10px;
    padding: 11px 0;
    font-family: 'Sora';
    font-weight: 700;
    font-size: 0;
    text-align: center;
    color: #6DD7C3;
    border: none;
    display: block;
    cursor: pointer;
    margin-left: auto;

    @include md {
        display: inline-block;
        max-width: 112px;
        width: 100%;
        height: auto;
        font-size: 14px;
        background: rgba(145, 221, 207, 0.15);
    }
}