@import 'src/var';
.main {
  padding: 42px 0 84px;
  @include md {
    padding: 77px 0 120px;
  }
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.5px;
  color: $dark;
  margin-bottom: 42px;
  @include md {
    margin-bottom: 81px;
    font-size: 48px;
  }
}

.tabHeader {
  align-items: center;
  padding: 21px 0;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 38% 41% 59% 52% 47%;

  @include sm {
    grid-template-columns: 29% 25% 30% 33% 23%;
  }

  @include md {
    padding: 20px 0px 24px;
    grid-template-columns: 31% 17% 25% 22% 21%;
  }

  @include lg {
    padding: 20px 58px 24px;
    grid-template-columns: 29% 14% 22% 19% 16%;
  }

  @include xl {
    grid-template-columns: 31% 14% 22% 19% 14%;
  }

  div {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: $dark;
    text-align: center;

    @include sm {
      &:first-child {
        padding-left: 20px;
      }
    }

    @include md {
      font-size: 14px;
    }

    @include lg {
      font-size: 16px;

      &:first-child {
        padding-left: 0px;
      }
    }
  }

  .currencyBlock {
    padding-left: 18px;
    text-align: start;

    @include sm {
      padding-left: 0;
    }
  }
}

.filterIcon {
  width: 18px;
  display: inline-block;
  margin-left: 9px;

  @include lg {
    margin-left: 18px;
  }
}

.wrap {
  margin-bottom: 23px;

  @include md {
    display: flex;
    margin-bottom: 41px;
    align-items: center;
    justify-content: space-between;
  }
}

.available {
  padding-bottom: 113px;

  @include md {
    padding-bottom: 97px;
  }
}

.availableTitle {
  font-size: 28px;
  margin-bottom: 0px;

  @include md {
    font-size: 32px;
  }
}

.wrapper {
  max-width: 335px;
  width: 100%;
  margin: 18px auto 30px;
  @include md {
    margin: 0;
  }
}

.tabButton {
  padding-right: 0;

  button {
    width: 50%;
    @include md {
      width: auto;
    }
  }
}

.currency {
  display: flex;
  align-items: center;
  font-family: $secondFont;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #666666;

  @include md {
    font-size: 16px;
  }

  img {
    width: 22px;
    margin-right: 7px;

    @include md {
      width: 32px;
      margin-right: 15px;
    }

  }

  & span {
    font-weight: 700;
    margin-right: 5px;
    display: block;

    @include md {
      display: inline-block;
    }
  }
}
