@import "src/var";

.advantages {
    padding: 72px 0;

    a {
        background: #6DD7C3;
        margin-top: 72px;
        &:hover {
            background: #53C4AF;
        }

        @include md {
            margin-top: 67px;
        }
    }

    @include md {
        padding: 111px 0 85px;
    }
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include lg {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: $dark;
        margin: 25px 0 16px;

        @include lg {
            font-size: 20px;
            margin: 36px 0 23px;
        }
    }

    p {
        font-family: $secondFont;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #666666;
        max-width: 284px;
        width: 100%;
        margin: auto;

        @include md {
            font-size: 14px;
            max-width: 100%;
        }

        @include lg {
            font-size: 16px;
            line-height: 26px;
        }
    }
}