@import "var";

.switch{
  height: 33px;
  width: 33px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  margin: auto 0 8px 0;

  &:hover{
    background-color: #53C4AF;
  }
}

.info {
  position: relative;
  padding: 14px 0 16px 10px;
  border-left: 2px solid #E0E0E0;

  div {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-right: 10px;
    color: #666666;
    display: flex;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: -15px;
      top: 2px;
      width: 7px;
      border-radius: 50%;
      height: 7px;
      background: #6DD7C3;

      @include md {
        left: -19px;
      }
    }

    @media (max-width: 352px) {
      max-width: 176px;
      flex-wrap: wrap;
    }

    @include sm {
      font-size: 11px;
    }

    @include md {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    span {
      margin-right: 2px;
    }
  }

  @include md {
    padding: 16px 0 16px 15px;
  }
}

.time {
  width: 14px;
  height: 14px;
  margin: 0 5px 0 13px;
  object-fit: contain;

  @include sm {
    margin: 0 5px 0 8px;
  }

  @include md {
    margin: 0 6px 0 51px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 13px;

  @include md {
    margin: 0 0 10px 22px;
  }
}

.btn {
  max-width: 100%;
  margin-top: 17px;
  background-color: $accentColor;

  &:hover{
    background: #53C4AF;
    color: #fff;
  }

  @include md {
    margin-top: 29px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapselect {
  :global{
    .prefix{
      &__control::before{
        content: "";
        left: 8px;
        display: block;
        position: absolute;
        background: url("./lock.svg");
        width: 12px;
        height: 16px;
      }

    }
  }
}