@import "src/var";

.getInTouch{
  text-align: center;
}
.title{
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 15px;
  color: $fontColor;
  @include lg{
    font-size: 33px;
    line-height: 52px;
    margin-bottom: 9px;
  }
}
.content{
  font-size: 14px;
  line-height: 22px;
  margin: 0 auto 17px;
  color: $secondFontColor;
  font-family: $secondFont;
  @include sm{
    span{
      display: block;
    }
  }
  @include md{
    font-size: 16px;
    line-height: 26px;
  }
  @include lg{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 19px;
  }
}