@import "src/var";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600;700&family=Sora:wght@400;700&display=swap');

body , html {
  font-family: $mainFont;
  //height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  padding: 0;
}

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

.title{
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin: 0 30px 40px;
  color: $fontColor;
  @include lg{
    font-size: 48px;
    line-height: 73px;
    margin-bottom: 80px;
  }
  span{
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    padding-top: 6px;
    color: $secondFontColor;
    font-family: $secondFont;
    @include lg{
      font-size: 16px;
    }
  }
}
.button{
  transition: .4s;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: $secondFont;
  background-color: $accentColor;
  text-align: center;
  padding: 15px 20px;
  max-width: 216px;
  width: 100%;
  border: none;
  display: block;
  margin: auto;
  cursor: pointer;
  &:hover{
    background-color: rgba($accentColor, .15);
    color: $accentColor;
  }
}
.figure-webp{
  overflow: hidden;
  height: 0;
  padding-bottom: 100%; // calc(height% / width * 100)
}