@import "src/var";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600;700&family=Sora:wght@400;500;700&display=swap');

body , html {

  font-family: $mainFont;
  //height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

button, input, textarea {
  outline: none;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

button{
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.title{
  font-weight: 700;
  font-size: 34px;
  line-height: 35px;
  text-align: center;
  margin: 0 30px 40px;
  color: $fontColor;
  @include lg{
    font-size: 48px;
    line-height: 73px;
    margin-bottom: 49px;
  }
  span{
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: $secondFontColor;
    font-family: $secondFont;
    @include lg{
      font-size: 18px;
    }
  }
}
.button{
  transition: .4s;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: $secondFont;
  background-color: $accentColor;
  text-align: center;
  padding: 15px 20px;
  max-width: 216px;
  width: 100%;
  border: none;
  display: block;
  margin: auto;
  cursor: pointer;
  &:hover{
    background-color: rgba($accentColor, .15);
    color: #fff;
  }
}
.figure-webp{
  overflow: hidden;
  height: 0;
  padding-bottom: 100%; // calc(height% / width * 100)
  @include lg{
    font-size: 20px;
    min-width: 220px;
  }
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;/* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 1px solid $light;  /* creates padding around scroll thumb */
}

#root > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}