@import 'src/var';

.contact {
  padding: 77px 20px 129px;

  @include lg {
    padding: 77px 0 129px;
  }
}

.title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.5px;
  color: $fontColor;
  margin-bottom: 10px;
}

.subtitle {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #666666;
}

.wrap {
  max-width: 935px;
  width: 100%;
  margin: auto;
  padding: 0 20px;

  @include md {
    background: #F6F8FA;
    border-radius: 20px;
    display: flex;
    padding: 0;
    justify-content: space-between;
  }
}

.left {
  max-width: 630px;
  width: 100%;
  margin: auto;

  @include md {
    margin: 0;
    padding: 35px 41px 42px;
  }
}

.right {
  background: $primary;
  border-radius: 20px;
  max-width: 309px;
  width: 100%;
  padding: 35px 16px 35px 23px;
  margin: 43px auto 0;

  @include md {
    margin: 0;
  }
}

.block {
  display: flex;
  align-items: flex-start;
  &:first-child {
    margin-bottom: 20px;
  }
  @include md {
    margin-bottom: 40px;
  }
}

.icon {
  background: rgb(255 255 255 / 15%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  margin-right: 23px;
  line-height: 52px;

  img {
    width: auto;
    display: inline-block;
  }
}

.info {
  max-width: 170px;
  width: 100%;

  @include md {
    max-width: 202px;
  }
}

.infoTitle {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 4px;

  @include md {
    font-size: 18px;
    margin-bottom: 12px;
  }
}

.infoEmail, .infoText {
  display: block;
  font-family: 'Sora';
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FFFFFF;

  @include md {
    font-size: 14px;
  }
}

.img {
 margin-top: 40px; 
}