@import "src/var";
.header {
  padding: 20px;
  background-color: $dark;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1147px;
  width: 100%;
  margin: auto;
  
  @include md{
    justify-content: initial;
  }
}

.logo{
  width: 100px;
  img{
    object-fit: contain;
  }
}

.isHome{
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  @include md{
    background-color: $dark;
    position: relative;
  }
}