@import "src/var";
.header {
  padding: 12px 20px;
  background-color: $dark;
  position: relative;

  @include md {
    padding: 24px 20px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1147px;
  width: 100%;
  margin: auto;
  
  @include lg{
    justify-content: initial;
  }
}

.logo{
  img{
    width: 120px;
    object-fit: contain;

    @include md {
      width: 163px;
    }
  }
}

.isHome{
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  @include lg{
    background-color: $dark;
    position: relative;
  }
}