@import 'src/var';

.price {
    padding: 42px 0 84px;
    
    @include md {
        padding: 63px 0 120px;
    }
  :global{
    .title{
      @include lg{
        margin-bottom: 40px;
      }
    }
  }
}

.tabsBlock {
    display: none;
    align-items: center;
 
    @include md {
     display: grid;
     padding: 16px 30px 24px;
     grid-template-rows: repeat(1, 1fr);
     grid-template-columns: 5% 32% 15.75% 12% 23.5% 11%;
   }

  @include lg {
    grid-template-columns: 8% 26% 16.75% 13% 23.5% 13%;
  }
 
   @include xl {
     padding: 24px 58px 15px;
     grid-template-columns: 7% 27% 18% 17% 21% 11%;
   }

  //  div {
  //   font-family: $secondFont;
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 12px;
  //   color: $dark;

  //     @include lg {
  //      font-size: 16px;
  //     }
  //   }
 } 

 .searchBlock{
    max-width: 500px;
    margin: auto auto 44px;

    @include md {
      margin: auto auto 73px;
    }
 }

 .blank {
    margin: 92px 0 84px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #2C3842;
 }


 :global {
  body  .ag-paging-panel {
      margin: auto;
      border-top:none;
  }
  .ag-paging-row-summary-panel {
      display: none;
  }

  .ag-header-cell-text {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: $dark;

    
    @include lg {
      font-size: 16px;
    }
  }

  body .ag-header {
    display: none;
    background-color: transparent;
    border-bottom: none;
    @include md {
     display: block;
    }
  }
  body .ag-header-cell {
    &:first-child {
      @include md {
        padding-left: 45px;
      }
    }
  }
  body .ag-root-wrapper {
    border: none;
  }
  body .ag-header-cell-resize {
    display: none;
  }

  body .ag-cell {
    padding-top: 10px;
    padding-bottom: 10px;

    @include md {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    
    &:first-child {
      padding-left: 10px;
      @include md {
        padding-left: 45px;
      }
    }
    &:last-child {
      padding-right: 10px;
    }
  }
  
  body .ag-row {
    background-color: #fff;
    border-bottom: 1px solid #a9a9a9;
  }

  body .ag-cell-wrapper {
    font-family: $secondFont;
    font-size: 12px;
    color: #666666;
    font-weight: 400;

    @include md {
        font-size: 13px;
    }

    @include lg {
        font-size: 16px;
    }
  }

}