@import 'src/var';

.price {
    padding: 42px 0 84px;
    
    @include md {
        padding: 63px 0 120px;
    }
  :global{
    .title{
      @include lg{
        margin-bottom: 40px;
      }
    }
  }
}

.tabsBlock {
    display: none;
    align-items: center;
 
    @include md {
     display: grid;
     padding: 16px 30px 24px;
     grid-template-rows: repeat(1, 1fr);
     grid-template-columns: 6% 27% 16.75% 16% 23.5% 11%;
   }

  @include lg {
    grid-template-columns: 8% 26% 16.75% 13% 23.5% 13%;
  }
 
   @include xl {
     padding: 24px 58px 15px;
     grid-template-columns: 7% 27% 18% 17% 21% 11%;
   }

   div {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: $dark;

      @include md {
          font-size: 16px;
      }
    }
 } 

 .searchBlock{
    max-width: 500px;
    margin: auto auto 44px;

    @include md {
      margin: auto auto 73px;
    }
 }

 .blank {
    margin: 92px 0 84px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #2C3842;
 }