@import 'src/var';

.search {
    background: #F6F8FA;
    border-radius: 10px;
    width: 100%;
    padding: 15px 24px;       
    display: flex;
    align-items: center;
 }

 .field {
    background: none;
    border: none;
    font-family: $secondFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    opacity: 0.4;
    width: 100%;
    &:focus {
        outline: none!important;
    }
 }

.submit {
    margin-right: 16px;
    padding: 0;
    width: 19px;
    height: 19px;
}

.blank {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 92px 0 84px;
    color: #2C3842;
}