@import 'src/var';

.coinItem {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 38% 41% 59% 52% 47%;

    @include sm {
        grid-template-columns: 29% 25% 30% 33% 23%;
    }
  
    @include md {
        grid-template-columns: 31% 17% 25% 22% 21%;
    }

    @include lg {
        padding: 16px 58px 24px;
        grid-template-columns: 29% 14% 22% 19% 16%;
        border-bottom: 1px solid #E0E0E0;
    }

    & > div {
        padding: 18px;
        border-bottom: 1px solid #E0E0E0;
        height: 67px;

        @include md {
            height: 78px;
        }

        @include lg {
            border-bottom: none;
            height: auto;
            padding: 0;
        }
    }

}


.status button {
    background: rgba(234, 189, 196, 0.15);
    border-radius: 10px;
    max-width: 89px;
    width: 100%;
    padding: 10px 0;
    font-family: $secondFont;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #EABDC4;
    display: block;

    &.active {
        background: #EABDC4;
        color: #fff;
    }

    @include md {
        padding: 12px 0;
        font-size: 14px;
    }
}

.checkIcon {
    width: 20px;
}
