@import 'src/var';

.coinItem {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 38% 41% 59% 52% 47%;

    @include sm {
        grid-template-columns: 29% 25% 25% 33% 17%;
    }
  
    @include md {
        grid-template-columns: 31% 17% 25% 22% 21%;
    }

    @include lg {
        padding: 16px 58px 24px;
        grid-template-columns: 29% 14% 22% 19% 16%;
        border-bottom: 1px solid #E0E0E0;
    }

    & > div {
        padding: 18px;
        border-bottom: 1px solid #E0E0E0;
        height: 67px;

        @include md {
            height: 78px;
        }

        @include lg {
            border-bottom: none;
            height: auto;
            padding: 0;
        }
    }

}

.currency {
    display: flex;
    align-items: center;
    font-family: $secondFont;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #666666;

    @include md {
        font-size: 16px;
    }

    img {
        width: 22px;
        margin-right: 7px;

        @include md {
            width: 32px;
            margin-right: 15px;
        }
        
    }

    & span {
        font-weight: 700;
       margin-right: 5px;
       display: block;

       @include md {
            display: inline-block;
        }
    }
}

.status button {
    background: rgba(234, 189, 196, 0.15);
    border-radius: 10px;
    max-width: 89px;
    width: 100%;
    padding: 10px 0;
    font-family: $secondFont;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #EABDC4;
    display: block;
    margin: auto;

    &:hover {
        background: #EABDC4;
        color: #fff; 
    }

    &.active {
        background: #EABDC4;
        color: #fff;

        &:hover {
            color: #EABDC4;
            background: rgba(234, 189, 196, 0.15);
        }
    }

    @include md {
        padding: 12px 0;
        font-size: 14px;
    }
}

.checkIcon {
    width: 20px;
    margin: auto;
}
