@import 'src/var';

.panel {
  width: 100%;
  @include sm {
    max-width: 325px;
  }

  @include md {
    max-width: 494px;
  }
}

.clarification {
  font-family: 'Sora', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2B2B37;
  margin-bottom: 31px;
}

.card {
  padding: 20px 20px;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  max-width: 182px;
  width: 100%;

  @include md {
    max-width: 260px;
  }
}

.infoBlock:not(:last-child) {
  margin-bottom: 15px;
}

.qrCod {
  width: 96px;
}

.title {
  font-family: 'Sora', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #666666;
  opacity: 0.4;
  display: block;
}

.data {
  font-family: 'Sora', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2B2B37;
  word-wrap: break-word;
}

.stage {
  margin: 33px auto 37px;
  display: flex;
  justify-content: center;

  li {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    width: 100%;
    text-align: center;
    color: #2B2B37;
    position: relative;

    @include md {
      font-size: 12px;
      line-height: 15px;
    }


    &:before {
      content: "";
      position: relative;
      display: block;
      z-index: 3;
      border-radius: 50%;
      margin: 0 auto 10px;
      width: 10px;
      height: 10px;
      background: #F6F6F9;
      border: 1px solid #E0E0E0;
    }

    &.active:before {
      border: 1px solid transparent;
      background: #6DD7C3;
    }

    &:first-child:after {
      width: 50%;
      right: 0;
    }

    &:last-child:after {
      width: 50%;
      left: 0;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      top: 5px;
      height: 1px;
      background: #E0E0E0;
    }
  }
}

.additionally:not(:last-child) {
  margin-bottom: 25px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2B2B37;
}


.exchange {
  background: #F6F8FA;

  @include md {
    padding: 57px 0 120px;
  }
}

.cardBlock {
  width: 100%;
  margin: auto;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 42px 20px 84px;
  position: relative;

  @include sm {
    display: flex;
    justify-content: space-between;
  }

  @include md {
    padding: 24px 24px 30px 30px;
    max-width: 780px;
  }
}


.stageBlock {
  max-width: 198px;
  width: 100%;
}

.list {
  margin: 32px 0 84px 13px;
  padding-left: 22px;
  border-left: 1px solid #E0E0E0;
  @include md {
    margin: 67px 0 34px 13px;
  }
  li {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #2B2B37;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 31px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      top: -7px;
      left: -36px;
      background: #F6F8FA;
      border: 1px solid #E0E0E0;
      border-radius: 50%;
    }

    &.active {
      &:before {
        background: #6DD7C3 url("../img/check.svg") no-repeat center;
      }
    }

  }
}

.transaction {
  bottom: 0;
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6F8FA;
  border: 1px solid #E0E0E0;
  padding: 13px 15px 15px;

  @include sm {
    display: block;
    border-radius: 10px;
    position: static;
    padding-left: 18px;
  }

  span {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #2B2B37;
    display: block;

    @include sm {
      margin-bottom: 9px;
    }
  }
}

.transactionWrap {
  display: flex;
  justify-content: space-between;
  button {
    width: 16px;
    padding: 0;
    margin-left: 13px;
  }
}

.id {
  background: #6DD7C3;
  border-radius: 100px;
  max-width: 139px;
  width: 100%;
  padding: 10px 17px;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 10px;
  @include sm {
    margin: 0;
    padding: 10px 12px;
  }
}