@import "src/var";

.tabs {
  border: 1px solid #E0E0E0;
  border-radius: 20px;
  max-width: 450px;
  width: 100%;
  margin: auto;

  @include md {
    max-width: 100%;
    font-size: 16px;
  }

  li {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    white-space:nowrap;
    padding: 18px 11px; 
    font-size: 14px;
    padding-bottom: 18px;
    border-bottom: 3px solid #6DD7C3;
  
    @include md {
      font-size: 16px;
      padding: 20px 28px;
   }

  }

  .item {
    border:none;
    color: rgba(130, 130, 130, 0.4);
  }
  
}

.tabsList {
  background: #F6F8FA;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  overflow-x: auto;

}





