@import 'src/var';

.block{
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
  font-family: $secondFont;
  @include sm{
    font-size: 16px;
    line-height: 26px;
  }
  @include md{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &:nth-child(2n+1){
    @include md{
      .wrapImg{
        order: 1;
      }
    }
  }
}
.title{
  font-family: $mainFont;
  font-size: 16px;
  color: $fontColor;
  margin-bottom: 6px;
  font-weight: 600;
  text-align: start;
  letter-spacing: 0.5px;
  @include sm{
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.wrapImg{
  margin-bottom: 35px;
  @include md{
    margin-bottom: 0;
    width: 45%;
    max-height: 360px;
    overflow: hidden;
  }
  img{
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    max-height: 360px;
    width: auto;
  }
}
.content{
  @include md{
    width: 46.7%;
  }
}