
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$dark :#2B2B37;

@mixin sm {
  @media (min-width:$sm) {
    @content
  }
};
@mixin md {
  @media (min-width:$md) {
    @content
  }
};
@mixin lg {
  @media (min-width:$lg) {
    @content
  }
};
@mixin xl {
  @media (min-width:$xl) {
    @content
  }
};
@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
