
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$dark :#2B2B37;
$accentColor:  #6DD7C3;
$fontColor: #2B2B37;
$secondFontColor: #666666;
$secondBg: #C4C4C4;

$bgBtn: #9C9C9C;


@mixin sm {
  @media (min-width:$sm) {
    @content
  }
};
@mixin md {
  @media (min-width:$md) {
    @content
  }
};
@mixin lg {
  @media (min-width:$lg) {
    @content
  }
};
@mixin xl {
  @media (min-width:$xl) {
    @content
  }
};
@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
