@import 'src/var';
.faq {
  letter-spacing: 0.5px;
  padding: 30px 0 84px;
  @include md{
    padding: 66px 0 119px;
  }
  :global{
    .title{
      margin-bottom: 80px;
    }
  }
}
.wrapAccardion{
  margin: 0 auto 60px;
  max-width: 838px;
  @include md{
    margin-bottom: 80px;
  }
  @include lg{
    margin-bottom: 102px;
  }
}