.nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: 0.5s;
}

.item {
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
}

.list {
  width:calc(100% - 40px );
  margin-left: 20px;

  a {
    width: 100%;
    transition: 0.3s;
    display: block;

    &:hover {
      margin-left: 5px;
    }
  }
}

.nav.active {
  max-height: 100vh;

  pointer-events: all;
}