@import "src/var";

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: 0.5s;

  @include md {
    margin-left: 114px;
    position: static;
    overflow: inherit;
    max-height: max-content;
    background-color: transparent;
    pointer-events: auto;
  }
}

.item {
  border-bottom: 1px solid #E0E0E0;
  padding: 13px 20px;

  @include md {
    padding: 0;
    border: none;
  }

  &:not(:last-child) {
    margin-right: 25px;
  }
}

.list {

  a {
    width: 100%;
    transition: 0.3s;
    display: block;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $dark;

    &:hover {
      margin-left: 5px;
    }

    @include md {
      color: #fff;
    }
  }

  @include md {
    display: flex;
  }
}

.nav.active {
  max-height: 100vh;

  pointer-events: all;
}